---
layout: archive
author_profile: true
classes: wide
permalink: /cons/
---

<ul>

     <li style="margin-bottom: 0.2cm;">
         <p> <b>Company Name:</b>	Canairy Ltd </p>
         <p> December, 2021 - Feb, 2022 </p>
         <p> <b>Tasks: </b> IOT products feasibility study, Underline technologies identification. Market identification
             in Smart city (Energy consumption monitor and smart transport), healthcare and monitoring; possibility of
             AI amd ML into the products.
         </p>

    </li>
	<hr> <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    <li style="margin-bottom: 0.2cm;">
        <p> <b>Company Name:</b>	Comfy Workers Ltd </p>
        <p> October, 2021 - Feb, 2022 </p>
        <p> <b>Tasks: </b> Comfy Workers is a service provider whose business is to book complex accommodation for companies'
             workforce with characteristics of multiple guests (5+ people), multiple months and high value
             (£5k and for 60+ days in duration). They are having a problem with financial transactions and invoicing.
             Due to constraints, they are currently manually handling the invoicing and transactions. They want to integrate
             an automation process into their existing online platform (Xero using PHP code).

             The task was to investigate the company’s working process and the platforms they have used. Based on demand and the market availability
             make recommendations as to automated invoicing. So ti is basically software solution comparison.
         </p>

    </li>
    <li style="margin-bottom: 0.2cm;">
        <p> <b>Company Name:</b> Get Staffed Online Recruitment Ltd</p>
        <p> Duration:	February, 2022 -  </p>

        <p> <b>Tasks: </b>Advice on new software development and QA.</p>

    </li>
	<hr> <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>

    <li style="margin-bottom: 0.2cm;">
        <p> <b>Company Name:</b> Graduation Attire Limited t/a Evess </p>
        <p> Duration: September, 2021 - Feb, 2022 </p>

        <p> <b>Tasks: </b> A data analysis job. The company has collected large amount of data. They want to find the value of their  data.
             If the value of the data to be increased, what the suggestions I can give.
        </p>

    </li>
	<hr> <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    <li style="margin-bottom: 0.2cm;">
        <p> <b>Company Name: </b> Deep Fathom Ltd </p>
        <p> Duration:	December, 2021 - Feb, 2022 </p>

        <p> <b>Tasks: </b> Deep Fathom (new branding of HPO Solutions) has an online platform that collects and collates experiential data and then via BI tools gives this meaning. Their request was how to improve the customer online experience by changing our ETL layer so that it reports both normalised and un-normalized data simultaneously so that the customer can select how they best view that data.
The request is a BI tool and can generate effective and interactive data report. Currently they use data studio which is limited and unsupported, they have considered Infogram and Tableau but need a more informed considered opinion.
The basic requirements are: </p>
        <OL>
            <li>
               The report should include dashboard (handle different granularity and interactive - user can select and filter imputes and expect live and final management reports.
            </li>
            <li>
               Reports also include BI analysing functions (means different trails and testing hypotheses and confirm assumptions).
            </li>
            <li>
              All being branded in the form of customers and partners.
            </li>
        </OL>
        looking into the BI tools and tools of Data reports, carried a desk top research and particularly investigated the two software
        package mentioned - Infogram and Tableau, to produce an independent opinion about the two software packages.
        Considering Deep Fathom’s business objectives and special requirements, provided a comparison between the two
        packages. Gary made an alternative suggestion which is a development of user specific data reporting tool.
        It has the following advantages over the two package and other existing off-shelf solutions:

        <hr> <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
        <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
 </footer>